.table-nonfluid {
    width: auto !important;
}
.bg-green3 {
    background: #afeba0 !important;
}
.btn-success, .btn-success:focus {
    background-color: #87b87f !important;
    border-color: #87b87f;
}
.btn-xs {
    border-width: 3px;
}
.btn-success:hover, .btn-success:active, .open .btn-success.dropdown-toggle {
    background-color: #629b58 !important;
    border-color: #87b87f;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.even .bg-blue {
    background-color: #e8f2fb !important;
}
.no-border {
    border: 0 !important;
}

.open>.dropdown-menu {
    display: block;
    width: max-content;
}
.hr-4, .hr4 {
    margin: 4px 0;
}
.padding-6-8 {
    padding: 6.5 8;
}
.form-control, select {
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
}
.no-skin .sidebar.h-sidebar .nav-list>li.active:before {
    background-color: #2b7dbc;
}