.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 1px 3px !important;
    font-family: fontAwesome;
    color: #fff;
}
.navbar-nav>li {
    line-height: 45px;
    border-left: 1px solid #E1E1E1;
    padding: 0;
    position: relative !important;

}
.navbar-nav>li:first-child {
    border-left-width: 0;
}
.white {
    color: #fff !important;
}
.right-padding-10 {
    padding-right: 10px !important;
}

.nav.navbar-nav .dropdown-fix .dropdown-menu {
    margin: 0;
    padding-top: 4px !important;
}
.navbar-nav>li .dropdown-menu {
    z-index: 1031;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.grey {
    color: #777 !important;
}
#select-game-type-table {
    margin: 0;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.navbar-default {
    background-color: #3c8dbc;
    border-color: #e7e7e7;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    font-family: fontAwesome;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    padding: 17px 15px;
    background-color: #367fa9;
    border-radius:0px;

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav>li.green>a:hover {
    /*background-color: #357ca5;*/
    color: #fff;
}


.navbar-nav>li.grey>a:hover {
    background-color: #4b4b4b;
}








.navbar-default .navbar-nav>li.grey .dropdown-fix .open>a, .navbar-default .navbar-nav>.grey .dropdown-fix .open>a:focus, .navbar-default .navbar-nav>.grey .dropdown-fix .open>a:hover {
    color: #fff;
    background-color: #4b4b4b;
}

/*.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #4b4b4b;
}*/
/*.navbar-nav>li.grey>a {
    background-color: #555;
}*/
.navbar-nav>li.grey {
    background-color:#555;
}
.navbar-nav>li.grey .dropdown-fix .open>a:hover {
    background-color: #fff;
}
.navbar-nav>li.grey .dropdown-fix .open>a:hover {
    background-color: #4b4b4b;
}
