.table-nonfluid {
    width: auto !important;
}
.bg-green3 {
    background: #afeba0 !important;
}
.btn-success, .btn-success:focus {
    background-color: #87b87f !important;
    border-color: #87b87f;
}
.btn-xs {
    border-width: 3px;
}
.btn-success:hover, .btn-success:active, .open .btn-success.dropdown-toggle {
    background-color: #629b58 !important;
    border-color: #87b87f;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.even .bg-blue {
    background-color: #e8f2fb !important;
}
.no-border {
    border: 0 !important;
}

.open>.dropdown-menu {
    display: block;
    width: max-content;
}
.hr-4, .hr4 {
    margin: 4px 0;
}
.padding-6-8 {
    padding: 6.5 8;
}
.form-control, select {
    border-radius: 0;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #858585;
    background-color: #fff;
    border: 1px solid #d5d5d5;
}
.no-skin .sidebar.h-sidebar .nav-list>li.active:before {
    background-color: #2b7dbc;
}
input.form-control, .input-group-addon, select, select:focus, select.form-control, .form-control {
    font-family: Arial;
    color: #333;
    border: 1px solid #999;
}
.input-group .input-group-addon {
    border-radius: 0 !important;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
    border-top-color: #999;
    border-bottom-color: #999;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li>a:focus, .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    border-left-color: #999;
    border-right-color: #999;
}
.btn-default:hover, .btn:active, .btn-default:active, .open .btn.dropdown-toggle, .open .btn-default.dropdown-toggle {
    background-color: #8b9aa3 !important;
    border-color: #abbac3;
}
.btn-default, .btn-default:focus {
    background-color: #abbac3 !important;
    border-color: #abbac3;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}


.datepicker td.active, .daterangepicker td.active, .datepicker td.active:hover, .daterangepicker td.active:hover {
    background: #2283c5 !important;
}

td, th {
    padding: 1px;
}

#brief-table td, #sum-table td, #result-table td {
    font-size: 12px;
    padding: 4px;
}

.dark-blue {
    color: #1a83db !important;
}

.negative {
    color: red;
}

.input-icon.input-icon-right>.ace-icon {
    left: auto;
    right: 3px;
}
.input-icon>.ace-icon {
    padding: 0 3px;
    z-index: 2;
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 3px;
    line-height: 28px;
    display: inline-block;
    color: #909090;
    font-size: 16px;
}